<div class="grid grid-nogutter surface-overlay text-800">
  <div class="col-12 md:col-6 px-8 text-center">
    <section>
      <div class="mb-3 font-bold font-medium text-orange-500">
        <p-chip class="px-5 text-orange-500" label="DOWNLOAD"
                [style]="{ backgroundColor: 'rgba(255, 159, 64, 0.15)' }">
        </p-chip>
      </div>
      <span class="block text-6xl font-bold mb-1">Download Hairy Paws</span>
      <div class="text-6xl text-primary font-bold mb-3">App for FREE</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Find your perfect furry friend faster, easier, and with exclusive adoption offers.</p>

      <img src="https://i.postimg.cc/52VZrYyF/image.png" alt="Ios" class="mr-3 w-10rem">
      <img src="https://i.postimg.cc/Z5x1zbvs/image.png" alt="Android" class="mr-3 w-10rem">
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
    <img src="https://i.postimg.cc/d1Y5vfKW/image-removebg-preview-3.png" alt="Image"
         class="w-auto max-w-full h-auto max-h-25rem"
         style="object-fit: contain;">
    <img src="https://i.postimg.cc/BZCVZJb2/image-removebg-preview-2.png" alt="Image"
         class="w-auto max-w-full h-auto max-h-25rem"
         style="object-fit: contain;">
    <img src="https://i.postimg.cc/RVFXMfjz/image-removebg-preview-4.png" alt="Image"
         class="w-auto max-w-full h-auto max-h-25rem"
         style="object-fit: contain;">
  </div>
</div>
