<div class="surface-overlay py-5 px-8 flex align-items-center justify-content-between fixed top-0 w-full z-5">
  <img class="w-10rem" src="https://i.postimg.cc/wjxHxW9j/image.png" alt="Hairy Paws Logo">
  <a class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden"
     [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div
    class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 px-6 lg:px-0 z-2 shadow-2 lg:shadow-none">
    <section></section>
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
      <li>
        <a href="#home"
           class="flex text-gray-500 px-0 lg:px-5 py-3 hover:text-orange-600 font-medium transition-colors transition-duration-150 no-underline border-none">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#how-it-works"
           class="flex text-gray-500 px-0 lg:px-5 py-3 hover:text-orange-600 font-medium transition-colors transition-duration-150 no-underline border-none">
          <span>How it works</span>
        </a>
      </li>
      <li>
        <a href="#why-choose-us"
           class="flex text-gray-500 px-0 lg:px-5 py-3 hover:text-orange-600 font-medium transition-colors transition-duration-150 no-underline border-none">
          <span>Why Choose Us</span>
        </a>
      </li>
      <li>
        <a href="#popular-pets"
           class="flex text-gray-500 px-0 lg:px-5 py-3 hover:text-orange-600 font-medium transition-colors transition-duration-150 no-underline border-none">
          <span>Popular Pets</span>
        </a>
      </li>
      <li>
        <a href="#testimonials"
           class="flex text-gray-500 px-0 lg:px-5 py-3 hover:text-orange-600 font-medium transition-colors transition-duration-150 no-underline border-none">
          <span>Testimonials</span>
        </a>
      </li>
    </ul>
    <div
      class="flex justify-content-between items-center gap-4 sm:gap-1 border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
      <button pButton pRipple label="Sign in" class="ml-3 p-button-text font-bold" onclick="window.open('https://hairy-paws-c47d9.web.app/', '_blank')"></button>
      <button pButton pRipple label="Sign up" class="ml-3 font-bold" onclick="window.open('https://hairy-paws-c47d9.web.app/', '_blank')"></button>
    </div>
  </div>
</div>
