<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6">
  <div class="grid justify-content-center flex-column lg:flex-row">
    <div class="col-12 mb-4 text-center">
      <div class="mb-3 font-bold font-medium text-orange-500 flex justify-content-center">
        <p-chip class="px-5 text-orange-500" label="WHY CHOOSE US"
                [style]="{ backgroundColor: 'rgba(255, 159, 64, 0.15)' }">
        </p-chip>
      </div>
      <div class="text-5xl font-bold line-height-3">The most trusted platform for pet adoption</div>
      <div class="text-5xl font-bold line-height-3 mb-4">Connecting pets with loving homes</div>
    </div>

    <div class="col-12 lg:col-6 flex align-items-center flex-order-2 lg:flex-order-1">
      <img src="https://i.postimg.cc/FKcrdYkP/istockphoto-503346133-612x612.jpg" class="w-full" alt="pet adoption">
    </div>

    <div class="col-12 lg:col-6 py-4 lg:pr-4 flex-order-1 lg:flex-order-2">
      <div class="flex px-5 py-2">
        <i class="pi pi-heart text-4xl font-bold text-900 text-orange-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Find your perfect companion</div>
          <p class="text-700">Explore a wide range of pets and choose the one that best fits your family.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-bolt text-4xl font-bold text-900 text-orange-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Fast and easy adoption process</div>
          <p class="text-700">Adopt or schedule a visit with just a few clicks. Receive instant notifications.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-users text-4xl font-bold text-900 text-orange-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Support local NGOs</div>
          <p class="text-700">Donate supplies or money to trusted organizations helping pets in need.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-shield text-4xl font-bold text-900 text-orange-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Maximum security for your peace of mind</div>
          <p class="text-700">Your data and transactions are protected with state-of-the-art security measures.</p>
        </div>
      </div>
    </div>
  </div>
</div>
