<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:p-6 text-center">
  <div class="mb-3 font-bold font-medium text-orange-500">
    <p-chip class="px-5 text-orange-500" label="HOW IT WORKS"
            [style]="{ backgroundColor: 'rgba(255, 159, 64, 0.15)' }">
    </p-chip>
  </div>

  <div class="mb-3 font-bold text-5xl mb-6">
    <span class="text-900">Adopt in 6 simple steps</span>
  </div>

  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card"
            style="border-radius: 10px; background-color: rgba(21, 114, 211, 0.1)">
        <i class="pi pi-search text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Browse pets</div>
      <span class="text-700 block line-height-3">Find the perfect pet for you.</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-info-circle text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">View details</div>
      <span class="text-700 block line-height-3">Learn more about their personality and needs.</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-calendar text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Schedule a visit</div>
      <span class="text-700 block line-height-3">Meet the pet in person or virtually.</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-comments text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Talk with the owner</div>
      <span class="text-700 block line-height-3">Ask questions and clarify everything.</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-check-circle text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Get approved</div>
      <span class="text-700 block line-height-3">Wait for confirmation and adoption approval.</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-2 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-heart-fill text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Welcome home</div>
      <span class="text-700 block line-height-3">Bring your new friend home and start the journey!</span>
    </div>
  </div>
</div>

<app-carousel-ongs></app-carousel-ongs>
