<app-navbar></app-navbar>

<section id="home">
  <app-home-page></app-home-page>
</section>

<section id="how-it-works">
  <app-functionalities-page></app-functionalities-page>
</section>

<section id="why-choose-us">
  <app-benefits-page></app-benefits-page>
</section>

<section id="popular-pets">
  <app-popular-pets-page></app-popular-pets-page>
</section>

<section id="testimonials">
  <app-testimonials-page></app-testimonials-page>
</section>
<app-download-page></app-download-page>
<app-footer></app-footer>

