<div class="px-4 py-5 md:px-6 lg:px-8" style="background-color: darkorange;">
  <div class="grid grid-nogutter text-center lg:text-left">
    <div class="col-12 sm:col-6 md:col-4 lg:col-4 mt-4 flex flex-column align-items-center lg:align-items-start">
      <img src="https://i.postimg.cc/Bbc94FyF/logo-hairypaws.png" class="w-9rem mx-auto lg:mx-0" alt="Hairy Paws logo">

      <span class="text-600 block mt-4 text-white"><i class="pi pi-map-marker mr-2"></i>25566 Hc 1, Glenallen, USA</span>
      <span class="text-600 block mt-4 text-white"><i class="pi pi-phone mr-2"></i>+603 4784 273 12</span>
      <span class="text-600 block mt-4 text-white"><i class="pi pi-envelope mr-2"></i>{{email}}</span>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-white text-xl font-medium block">Our Services</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Adopt a Pet</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Pet Care</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Foster a Pet</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Pet Products</a></li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-white text-xl font-medium block">Resources</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Blog</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Help Centre</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Guides</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Volunteer</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Adopt a Pet</a></li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-white text-xl font-medium block">About Hairy Paws</span>
      <ul class="list-none p-0">
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Why Choose Us</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Our Story</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Investor Relations</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block">Press Center</a></li>
        <li><a tabindex="0" class="text-600 text-white hover:text-900 transition-duration-150 cursor-pointer mt-1 block" onclick="window.open('https://acuerdo-de-servicio-hairy-paws.web.app/', '_blank')">Terms and conditions</a></li>
      </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-2 mt-4 flex flex-column">
      <span class="text-900 text-white text-xl font-medium block">Follow Us</span>
      <div class="flex align-items-center w-full mt-5 justify-content-center lg:justify-content-start">
        <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-facebook p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-twitter p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-youtube p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer">
          <i class="pi pi-google p-1 text-sm border-circle text-0"></i>
        </a>
      </div>
    </div>
  </div>
  <p-divider layout="horizontal" class="surface-border"></p-divider>
  <div class="flex justify-content-between align-items-center text-white">
    <span>&copy; Copyright 2025 ・ Hairy Paws, All Rights Reserved</span>
  </div>
</div>
